body {
    font-family: system-ui, sans-serif;
    margin: 0px;
    padding: 0px;
    color: #14171a;
}

html,
body,
#root {
    height: 100%;
}

#root {
    overflow: hidden;
}

.ReactModal__Overlay {
    display: flex;
    justify-content: center;
    align-items: center;
}

.ReactModal__Content {
    top: unset !important;
    bottom: unset !important;
    right: unset !important;
    left: unset !important;
    padding: 10px !important;
    border-radius: 10px !important;
}
